endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_hostname "eDTemplate I discord.gg/aurezia"
sv_licenseKey ""
set steam_webApiKey ""
sv_maxclients 48
set sv_enforceGameBuild 2372
sets sv_projectName "eDTemplate I discord.gg/aurezia"
sets sv_projectDesc "eDTemplate I discord.gg/aurezia"
sets locale "root-AQ"
sets tags "default, esx"
sv_scriptHookAllowed 0
set onesync legacy   # Infinity is not recommended for ESX
set mysql_connection_string "server=localhost;uid=root;password=;database=edtemplate"
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Base ##

ensure mysql-async
ensure spawnmanager
ensure chat
ensure es_extended
